name: Build and Push Docker Images

on:
  push:
    tags:
      # Match a tag with the format v1.0.0
      - "v[0-9]+.[0-9]+.[0-9]"
  workflow_dispatch:

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu_version: ["24.04", "22.04"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USER }}/base:ubuntu${{ matrix.ubuntu_version }}
          build-args: |
            UBUNTU_VERSION=${{ matrix.ubuntu_version }}
